<main-navbar></main-navbar>
<main [ngClass]="bg$ | async" class="text-white p-8 pt-11 mt-14 not-dark:text-black">
  <!-- Header Section -->
  <section class="max-w-4xl mx-auto text-center mb-12">
    <h1 class="text-xl sm:text-2xl mb-6">
      {{'BOUNSIC.DASHBOARD.TITLE1'  | translate}}
    </h1>
    <!-- SearchBar -->
    <dashboard-searchBar></dashboard-searchBar>
  </section>
  <!-- Carousel songs -->
  <section class="max-w-6xl 2xl:max-w-7xl mx-auto mb-8 sm:mb-12 lg:mb-16">
    <h2 class="text-sm sm:text-xl mb-2">{{'BOUNSIC.DASHBOARD.NEW_DESCOVERY.TEXT1'  | translate}}</h2>
    <h3 class="text-2xl sm:text-3xl xl:text-4xl font-bold mb-6">{{'BOUNSIC.DASHBOARD.NEW_DESCOVERY.TEXT2'  | translate}}</h3>
    <dashboard-songsCarousel></dashboard-songsCarousel>
  </section>

  <!-- Safe Choices Section -->
  <section class="max-w-7xl mx-auto mb-8 sm:mb-12 lg:mb-16">
    <h3 class="text-lg sm:text-2xl font-bold mb-6">{{'BOUNSIC.DASHBOARD.SAFE_CHOICES.TEXT1'  | translate}}</h3>
    <dashboard-safe-choice-list
    [songs]="songSafeChoices$ | async ">
  </dashboard-safe-choice-list>
  </section>

  <section class="max-w-7xl mx-auto mb-8 sm:mb-12 lg:mb-16">
    <h2 class="text-sm sm:text-xl mb-2">{{'BOUNSIC.DASHBOARD.THIS_WEEK.TEXT1'  | translate}}</h2>
    <h3 class="text-2xl sm:text-3xl xl:text-4xl font-bold mb-6">{{'BOUNSIC.DASHBOARD.THIS_WEEK.TEXT2'  | translate}}</h3>
    <dashboard-trending-songs></dashboard-trending-songs>
  </section>
  <section class="max-w-7xl mx-auto mb-8 sm:mb-12 lg:mb-16">
    <h3 class="text-lg sm:text-xl xl:text-2xl mb-6">{{'BOUNSIC.DASHBOARD.LAST_MONTH.TEXT1'  | translate}}</h3>
    <dashboard-last-month-songs></dashboard-last-month-songs>
  </section>
  <section class="max-w-7xl mx-auto mb-8 sm:mb-12 lg:mb-16">
    <h2 class="text-xl sm:text-2xl xl:text-3xl font-bold mb-6">{{'BOUNSIC.DASHBOARD.ARTISTS.TEXT1'  | translate}}</h2>
    <dashboard-artist-list
    [artists]="artists$ | async "
    ></dashboard-artist-list>
  </section>
</main>
