@import "tailwindcss";

@theme {
  --color-bounsic-gray: #0f0f0f;
  --color-bounsic-red: #DF0E50;
  --color-bounsic-yellow: #F6A618;

}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
