<h1 class="text-2xl md:text-3xl font-medium mb-8">Temas</h1>

<!-- Sección: Degradados Complejos -->
<div>
  <p class="font-semibold mb-2">Degradados Bounsic</p>
  <div class="flex flex-wrap gap-3 mb-4">
    <div
      class="w-18 h-10 rounded-full bg-bounsic-gradient border border-white/2 cursor-pointer hover:border-white/5"
    ></div>
    <!-- Agrega más degradados... -->
  </div>
</div>

<!-- Degradados simples -->
<div>
  <p class="font-semibold mb-2">Degradados simples</p>
  <div class="flex flex-wrap gap-3 mb-4">
    <div
      class="size-12 rounded-full bg-bounsic-gradient-about-mobile cursor-pointer hover:border-white/5"
    ></div>
  </div>
</div>

<!-- Solid -->
<div>
  <p class="font-semibold mb-2">Colores sólidos</p>
  <div class="flex flex-wrap gap-3 mb-4">
    <div class="size-12 rounded-full bg-bounsic-red cursor-pointer hover:border-white/5"></div>
    <div class="size-12 rounded-full bg-bounsic-yellow cursor-pointer hover:border-white/5"></div>
  </div>
</div>

<!-- Light / Dark -->
<div>
  <p class="font-semibold mb-2">Básico</p>
  <div class="flex flex-wrap gap-4 mb-6">
    <div class="size-12 rounded-full bg-white cursor-pointer hover:border-white/5"></div>
    <div class="size-12 rounded-full bg-black cursor-pointer hover:border-black/5"></div>
  </div>    
</div>

<!-- Tamaño de fuente -->
<div class="mt-12 pt-4">
  <label for="country" class="text-bounsic-gray-2 mb-1 block"
    >Tamaño de la fuente</label
  >
  <div
    class="flex justify-between w-1/2 border-b text-bounsic-gray-3 focus-within:border-white pb-2 transition-colors duration-200"
  >
    <select
      id="country"
      class="bg-bounsic-gray-4 text-white w-full focus:outline-none"
    >
      <option value="colombia" selected>Predeterminada</option>
      <option value="mexico">Mediana</option>
      <option value="spain">Grande</option>
      <option value="argentina">Extra Grande</option>
    </select>
  </div>
</div>
