<article
class="grid grid-cols-[auto_1fr_1fr_auto_auto] gap-4 items-center py-3 px-4 hover:bg-white hover:bg-opacity-10 rounded-md transition group text-white"
>
<div class="text-gray-400 w-6 text-center">{{id}}</div>
<div class="flex items-center gap-4">
  <img
    src={{imageUrl}}
    alt="Album cover"
    class="w-8 sm:w-9 lg:w-10 aspect-square object-cover rounded-md"
  />
  <div>
    <p class="font-medium">{{title}}</p>
  </div>
</div>
<div class="text-gray-400">
  <span>{{artist}}</span>
  <span class="mx-1">•</span>
  <span class="text-gray-500">{{album}}</span>
</div>
<button
  class="text-gray-400 opacity-0 group-hover:opacity-100 transition"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-5 w-5 text-red-500"
    viewBox="0 0 20 20"
    fill="currentColor"
  >
    <path
      fill-rule="evenodd"
      d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
      clip-rule="evenodd"
    />
  </svg>
</button>
<div class="text-gray-400 w-12 text-right">{{duration}}</div>
</article>