<article
  class="grid grid-cols-[1fr_1fr_auto] md:grid-cols-[auto_1fr_1fr_auto_auto_auto] gap-2 items-center py-3 px-2 md:px-4 hover:bg-white/10 hover:bg-opacity-5 rounded-md transition-all duration-200 group cursor-pointer not-dark:hover:bg-black/10"
  (click)="playMusic()">
  <div class="hidden text-bounsic-gray-1 w-6 text-center lg:text-lg md:block not-dark:text-bounsic-dark-1">{{ id }}</div>
  <div class="flex items-center gap-4">
    <div class="relative">
      <img [src]="imageUrl" alt="Album cover" class="w-8 sm:w-9 lg:w-10 aspect-square object-cover rounded-md" />
      <div
        class="absolute inset-0 flex items-center justify-center bg-black/50 bg-opacity-40 opacity-0 group-hover:opacity-100 transition-opacity rounded-md not-dark:bg-white/50">
        <lucide-angular [img]="Play" class="my-icon fill-white not-dark:fill-black" [size]="24"></lucide-angular>
      </div>
    </div>
    <div>
      <p class="text-sm md:text-base">{{ title }}</p>
    </div>
  </div>
  <div class="text-bounsic-gray-1 not-dark:text-bounsic-gray-4">
    <span class="text-sm md:text-base pr-1.5 sm:pr-2 md:pr-3.5">{{ artist }}</span>
    <span class="text-sm md:text-base text-bounsic-gray-3 not-dark:text-bounsic-dark-1">{{ album }}</span>
  </div>

  <button class="transition-opacity focus:opacity-100 focus:outline-none">
    <svg xmlns="http://www.w3.org/2000/svg" class="size-5 text-red-500" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd"
        d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
        clip-rule="evenodd" />
    </svg>
  </button>
  <div class="hidden md:block text-bounsic-gray-1 w-12 text-right not-dark:text-bounsic-dark-1">{{ formattedDuration }}</div>
  <button class="hidden md:block pl-1 opacity-0 group-hover:opacity-100">
    <lucide-angular [img]="Options" class="my-icon fill-white not-dark:fill-black" [size]="20"></lucide-angular>
  </button>
</article>