.outline-404 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: clamp(25rem, 42vw, 42rem);
    letter-spacing: 0.1em;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
    -webkit-text-fill-color: transparent;
    color: transparent;
    user-select: none;
  }
  
  /* Custom gradient shadow for the ERROR text */
  .error-shadow, .number-shadow, .subtitle-shadow {
    text-shadow: 14px 14px 15px rgba(0, 0, 0, 0.85);
    mix-blend-mode: multiply;
    color: white;
  }
  
  
  /* Para asegurar compatibilidad con más navegadores */
  @supports not (-webkit-text-stroke: 1px rgba(255, 255, 255, 0.3)) {
    .outline-404 {
      text-shadow: 
        -1px -1px 0 rgba(255, 255, 255, 0.3),
        1px -1px 0 rgba(255, 255, 255, 0.3),
        -1px 1px 0 rgba(255, 255, 255, 0.3),
        1px 1px 0 rgba(255, 255, 255, 0.3);
    }
  }