<main class="bg-bounsic-gradient-404 text-white h-screen flex flex-col items-center justify-center px-6 relative overflow-hidden">
  <header class="absolute top-4 left-1/2 transform -translate-x-1/2 z-10">
    <img src="/logo/logoBounsic.png" alt="Bounsic_logo" class="h-auto w-36 md:w-44" />
  </header>
  <div class="flex flex-col md:flex-row items-center justify-between w-full container mt-28 lg:mt-6 mx-auto">
    <!-- Texto -->
    <div class="w-full md:w-1/2 md:pr-8 text-center md:text-left z-10 order-1 md:order-1 md:translate-x-20 xl:translate-x-70">
      <div class="mb-4">
        <h1 class="font-bebas-neue error-shadow custom-h1 ">
          <span>ERROR</span>
          <span class="number pl-4">404</span>
        </h1>
        <h2 class="custom-h2 font-bold font-sans mt-0 md:mt-0 w-full subtitle-shadow">
          Page not found
        </h2>
      </div>
      <div>
        <!-- Frase y botón -->
        <div class="text-pretty max-w-2xl font-roboto mt-8">
          <p class="text-base md:text-lg mb-0 font-bold ">
            "{{ chose_phrase().phrase }}"
          </p>
          <p class="text-base md:text-lg mb-4 italic font-light">
            - {{ phrase.song }}, {{ phrase.artist }}
          </p>
          <router-err-button [redirectToDashboard]="redirectToDashboard"></router-err-button>
        </div>
      </div>
    </div>
    <!-- Imagen -->
    <div class="w-full md:w-1/2 flex justify-center items-center mt-2 p-6 md:mt-0 z-0 order-2 md:order-2 lg:-translate-x-40">
      <img src="/error/jukebox.svg" alt="Jukebox SVG" class="object-contain w-60 md:w-full h-auto mt-8 md:mt-16" />
    </div>
  </div>
</main>
