<div class="flex flex-col min-h-screen">
  <main-navbar />

  <main class="bg-black text-white flex-1 sm:flex-none h-[90vh] w-full">
    <div class="container mx-auto px-4 py-6 h-full">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 h-full pt-20 md:pt-0">
        <section class="flex flex-row md:flex-col justify-center items-center h-full gap-x-6">
          <player-song />
          <player-song-list/>
        </section>

        <section
          class="flex justify-center md:justify-start items-center h-full"
        >
          <player-lyrics />
        </section>
      </div>
    </div>
  </main>

  <footer class="bg-white w-full h-[10vh]">
    <player-bar />
  </footer>
</div>
