<app-navbar></app-navbar>

<main class="bg-bounsic-gradient-about-mobile xl:bg-bounsic-gradient-about bg-cover bg-center min-h-screen">
  <section class="container mx-auto px-8 flex flex-col xl:flex-row items-center justify-between text-white min-h-screen pt-[18vh] xl:pt-[14vh] pb-0">
    <div class="flex flex-col w-full space-y-12 md:space-y-20">
      <div>
        <h2 class="text-2xl sm:text-3xl md:text-4xl font-extrabold mb-4">{{ 'BOUNSIC.ABOUT_US.TITLE1' | translate }}</h2>
        <p class="text-base sm:text-lg leading-relaxed">
          {{ 'BOUNSIC.ABOUT_US.TEXT1' | translate }}
        </p>
      </div>

      <div>
        <h2 class="text-2xl sm:text-3xl md:text-4xl font-extrabold mb-4">{{ 'BOUNSIC.ABOUT_US.TITLE2' | translate }}</h2>
        <p class="text-base sm:text-lg leading-relaxed">
          {{ 'BOUNSIC.ABOUT_US.TEXT2' | translate }}
        </p>
      </div>
    </div>

    <aside class="w-full md:flex md:w-full justify-center self-end mt-10 md:mt-0">
      <img
        src="/vieja_cacorra.png"
        alt="persona escuchando música"
        class="w-[85%] h-auto object-contain"
      />
    </aside>
  </section>
</main>