<app-navbar></app-navbar>

<section class="bg-bounsic-gradient-about bg-cover bg-center min-h-screen pt-[14vh] pb-0 px-6 sm:px-12 md:px-24 lg:px-32 flex flex-col md:flex-row items-center justify-between text-white">

  <div class="flex flex-col w-full md:w-1/2 mt-[10vh] md:mt-[10vh] lg:mt-[5vh] xl:mt-[-15vh] space-y-12 md:space-y-20">
    <div>
      <h2 class="text-2xl sm:text-3xl md:text-4xl font-extrabold mb-4">LA MEJOR CALIDAD</h2>
      <p class="text-base sm:text-lg leading-relaxed">
        ¡No dejes que una mala calidad de sonido arruine tu experiencia musical! Con nuestro reproductor de música, disfrutarás de un sonido cristalino y definido que te hará apreciar cada nota y cada detalle de tu música favorita, como si estuvieras escuchándola por primera vez. ¡Haz que tu música cobre vida con nuestro reproductor de música!
      </p>
    </div>

    <div>
      <h2 class="text-2xl sm:text-3xl md:text-4xl font-extrabold mb-4">DISFRUTA</h2>
      <p class="text-base sm:text-lg leading-relaxed">
        ¿Quieres disfrutar de la mejor calidad de sonido y escuchar tu música favorita como nunca antes? Descubre nuestro reproductor de música de última generación y sumérgete en una experiencia única y envolvente que te hará sentir como si estuvieras en el concierto en vivo de tu artista favorito!
      </p>
    </div>
  </div>

  <aside class=" md:flex w-full md:w-1/2 justify-center md:justify-start items-end self-end mt-10 md:mt-0">
    <img src="/vieja_cacorra.png" alt="persona escuchando música"
         class="w-[85%] lg:w-[75%] h-auto max-h-[75vh] object-contain">
  </aside>
</section>
