<app-navbar></app-navbar>
<section
  class="bg-bounsic-gradient-about bg-cover bg-center h-dvh"
>
  <div class="absolute inset-0 bg-gradient-to-b from-black/50"></div>
    <section>
        <div>
            <h2>LA MEJOR CALIDAD</h2>
            <p>
                ¡No dejes que una mala calidad de sonido arruine tu experiencia musical! Con nuestro reproductor de música, disfrutarás de un sonido cristalino y definido que te hará apreciar cada nota y cada detalle de tu música favorita, como si estuvieras escuchándola por primera vez. ¡Haz que tu música cobre vida con nuestro reproductor de música!
            </p>

        </div>
        <div>
            <h2>DISFRUTA</h2>
            <p>
                ¿Quieres disfrutar de la mejor calidad de sonido y escuchar tu música favorita como nunca antes? ¡Descubre nuestro reproductor de música de última generación y sumérgete en una experiencia única y envolvente que te hará sentir como si estuvieras en el concierto en vivo de tu artista favorito!
            </p>
        </div>
    </section>
    <aside>
        
    </aside>

</section>
